<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de" lang="de" dir="ltr">
  <head>
    <title>RISC OS Open: Bugs and sources: <%= @title %></title>

    <meta name="robots" content="nofollow" />
    <meta name="generator" content="FreeBSD-CVSweb 3.0.6" />

    <link rel="stylesheet" type="text/css" href="/css/risc_os_open.css" />
    <%= stylesheet_link_tag '/stylesheets/rcvsweb.css' %>
  </head>
  <body>
<%= render 'shared/fixed_header' %>

    <!-- CVSweb contents table -->

    <p />
    <table width="85%" cellspacing="0" cellpadding="0" align="center">
      <tr valign="top" align="left">
        <td width="75%">
          <%= hubssolib_flash_tags -%>

          <div id="content">
            You are currently browsing the <b>CVS</b> repository.<br />
            Revisions can be listed by
            <%= link_to 'log message', { :controller => 'revisions', :action => 'list' } %> (fast) or
            <%= link_to 'revision number', { :controller => 'revisions', :action => 'revisions' } %> (slow).<br />
            The Subversion repository is <a href="/rails/collaboa/repository/browse">here</a>.
            <hr />

<%= @content_for_layout %>
          </div>
        </td>

        <td>&nbsp;&nbsp;</td>
        <td bgcolor="#bbbbbb" class="column_divider"><img src="/images/utilities/blank.gif" width="1" height="1" alt="." border="0" /></td>
        <td>&nbsp;&nbsp;</td>

        <td width="25%">
          <div class="sidebar">
            <div class="sidebar-node">
              <h3>Search for CVS module</h3>

              <p />
              <div class="sidebar_static">
                <%= form_tag( {}, :method => 'get') %>
                  <input type="text" id="mpath" name="path" value="" size="15" />
                  <input type="submit" value="Go" />
                <%= end_form_tag %>
              </div>
            </div>

<%= render 'shared/fixed_sidebar' %>

            <p />
            <div class="sidebar-node">

              <h3>Options</h3>

              <p />
              <ul>
                <li><a href="/rails/collaboa/">Tickets</a></li>
                <li><a href="/rails/collaboa/milestones">Milestones</a></li>
                <li>Subversion: <a href="/rails/collaboa/repository/changesets">Changesets</a></li>
                <li>Subversion: <a href="/rails/collaboa/repository/browse">Browse</a></li>
                <li>CVS: <%= link_to 'Revisions', { :controller => 'revisions', :action => 'list' } %></li>
                <li>CVS: <%= link_to 'Browse', { :controller => 'rcvsweb', :action => 'run' } %></li>
              </ul>
            </div>
          </div>
        </td>
      </tr>
    </table>

<%= render 'shared/fixed_footer' %>
  </body>
</html>
