<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de" lang="de" dir="ltr">
  <head>
    <title>RISC OS Open: Bugs and sources: <%= @title %></title>

    <meta name="robots" content="nofollow" />
    <meta name="generator" content="FreeBSD-CVSweb 3.0.6" />

    <link rel="stylesheet" type="text/css" href="/css/risc_os_open.css" />
    <%= stylesheet_link_tag '/stylesheets/rcvsweb.css' %>
  </head>
  <body bgcolor="#ffffff" text="#333333" link="#6e915e" vlink="#8cb877" alink="#e5ffd4">
<%= render 'shared/fixed_header' %>

    <!-- CVSweb contents table -->

    <div id="template_body_background"><div id="template_body_shadow_left" class="template_shadow_left"><div id="template_body_shadow_right" class="template_shadow_right"><div id="template_body_content" class="template_body_content template_overall_content">

    <br />
    <table align="center" cellpadding="0" cellspacing="0" width="100%">
      <tr valign="top" align="left">
        <td width="74%">
          <%= hubssolib_flash_tags -%>

          <div id="content">
            You are currently browsing the <b>CVS</b> repository.<br />
            Revisions can be listed by
            <%= link_to 'log message', { :controller => 'revisions', :action => 'list' } %> (fast) or
            <%= link_to 'revision number', { :controller => 'revisions', :action => 'revisions' } %> (slow).<br />
            The Subversion repository is <a href="/tracker/repository/browse">here</a>.
            <hr />

<%= @content_for_layout %>
          </div>
        </td>

        <td width="1%">&nbsp;&nbsp;</td>
        <td bgcolor="#bbbbbb" class="template_column_divider"><img src="/images/utilities/blank.gif" width="1" height="1" alt="." border="0" /></td>
        <td width="1%">&nbsp;&nbsp;</td>

        <td width="24%">
          <div class="template_sidebar">
            <div class="template_sidebar_node">
              <h3>Search whole site</h3>

              <p />
              <form action="http://www.google.com/search" method="get" class="searchform">
                <input type="hidden" name="num"           value="10" />
                <input type="hidden" name="hl"            value="en" />
                <input type="hidden" name="as_sitesearch" value="www.riscosopen.org" />
                <input type="text" value="" maxlength="256" size="15" name="q" id="q" />
                <b><input type="submit" value="Go" name="btnG" /></b>
              </form>
            </div>

<%= render 'shared/fixed_sidebar' %>

            <p />
            <div class="template_sidebar_node">

              <h3>Options</h3>

              <p />
              <ul>
                <li><a href="/tracker">Tickets</a></li>
                <li><a href="/tracker/milestones">Milestones</a></li>
                <li>Subversion: <a href="/tracker/repository/changesets">Changesets</a></li>
                <li>Subversion: <a href="/tracker/repository/browse">Browse</a></li>
                <li>CVS: <%= link_to 'Revisions', { :controller => 'revisions', :action => 'list' } %></li>
                <li>CVS: <%= link_to 'Browse', { :controller => 'rcvsweb', :action => 'run' } %></li>
              </ul>
            </div>
          </div>
        </td>
      </tr>
    </table>
    <br />

    </div></div></div></div>

<%= render 'shared/fixed_footer' %>
  </body>
</html>
